<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RamiritoBOT</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 h-screen flex justify-center items-center overflow-hidden">
    {% set sizeClass = "text-9xl" %}
    {% include 'components/title.html' %}
    <button id="showFormBtn" class="absolute bottom-28 text-white bg-blue-500 hover:bg-blue-700 px-6 py-2 rounded-lg shadow-lg text-2xl">
        Comencemos
    </button>

    <!-- Formulario -->
    <div id="formContainer" class="hidden animate-showForm absolute flex justify-center items-center w-full h-full">
        <div class="clas bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h1 class="text-2xl mb-4">Documento a consultar</h1>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="pdf_file" accept=".pdf" required class="mb-4 p-2 border border-gray-300 rounded">
                <button type="submit" class="text-white bg-green-500 hover:bg-green-700 px-7 py-3 rounded-lg">Procesar Documento</button>
            </form>
            {% if upload_error %}
            <p class="error text-red-500 mt-4">{{ upload_error }}</p>
            {% endif %}
            {% if upload_success %}
            <p class="success text-green-500 mt-4">Document uploaded successfully!</p>
            {% endif %}
        </div>
    </div>
    <script src="../static/js/index.js"></script>
</body>
</html>
